body{
	font-family: 'Montserrat', sans-serif;
	color: 0B0C10;
}
.container{
	margin-top: 10%;
}
.card{
	position: relative;
}
.card img{
	width: 100%;
	height: auto;
}
.card-text{
	width: 100%;
	height: 100%;
	font-size: 2vw;
	padding: 50px 100px;
	text-align: center;
	position: absolute;
	color: #00274C;
	left: 0;
	z-index: 2;
}
.card-text h3{
	color: #00274c;
	font-family: poppins;
}
.card a{
	size: 2vw;
}
.navbar-nav {
	margin: auto;
	display: flex;
}
.navbar-nav li{
	padding-left: 55px;
	padding-right: 55px;
}
